/* Navbar */
.navbar-brand img {
    height: 2.1rem;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.473);
    align-items: center;
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 20pt;
    color: #fff;
    font-weight: 500;
}
/* Fin Navbar */